---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import PageBanner from '../components/PageBanner.astro';
import { rapidocApiData, RapidocAttribute } from '../data/rapidoc-api';
import GithubSlugger from 'github-slugger'

const slugger = new GithubSlugger();
import '../styles/table.css';
---

<GlobalLayout>
  <PageBanner slot="topbar" page="api" showWaves={false}>
    <img class="banner-img" style="transform: rotate(5deg);" class="shadow3" src="./assets/images/light_ss.png">
  </PageBanner>
  <h1> API </h1>

  <!-- Attributes -->
  <h2 class="api-section-anchor" id="attributes"> Attributes </h2>
  {
    rapidocApiData.Attributes.map(attGroup => { 
      const [attrGroupTitle, attrGroupItems] = Object.entries(attGroup)[0] as [string, RapidocAttribute[]];
      const attrGroupHref = slugger.slug(attrGroupTitle);
      return (
        <h3 class="api-section-anchor" id={`./api#${attrGroupHref}`}>{attrGroupTitle}</h3>
        <table class="m-table">
          {
            attrGroupItems.filter(attr => attr.hidden !== true).map(attr => {
            return (
              <tr>
                <td class="name-col">{attr.name}</td>
                <td class="gray">
                  <div class="mono yellow">
                    { attr.allowed && <b class="small-font yellow-dim" style="font-family:Nunito;">Allowed : </b> }
                    { attr.allowed && attr.allowed.map((v,i,a) => <span>{v} {i < a.length-1 ? '|' : ''} </span>) } 
                  </div>
                  <Fragment set:html={attr.description} />
                  { attr.example && <br/> <a href={attr.example}> Example </a> }
                  { attr.code &&  <pre style="min-width:650px"> <code class="language-html"> {attr.code} </code> </pre> }
                </td>
                <td class="default-col">
                   { attr.default &&  <Fragment set:html={attr.default} /> }
                </td>
              </tr>
            )}
          )}
        </table>
      )
    })
  }

  <!-- Methods -->
  <h2 class="api-section-anchor" id="methods"> Methods </h2>
  <table class="m-table">
  {
    rapidocApiData.Methods.items.map(method => { 
      return (
        <tr>
          <td class="name-col bold right">{method.name}</td>
          <td class="gray">
            <Fragment set:html={method.description} />
            { method.example && <div> <Fragment set:html={method.example} /> </div> }
            { method.code &&  <pre> <code class="language-html"> {method.code} </code></pre> }
          </td>
        </tr>
      )}
    )
  }
  </table>

  <!-- Events -->
  <h2 class="api-section-anchor" id="events"> Events </h2>
  <table class="m-table">
  {
    rapidocApiData.Events.items.map(rapidocEvent => { 
      return (
        <tr>
          <td class="name-col mono right">{rapidocEvent.name}</td>
          <td class="gray">
            <Fragment set:html={rapidocEvent.description} />
            { rapidocEvent.example && <div> <Fragment set:html={rapidocEvent.example} /> </div> }
            { rapidocEvent.code &&  <pre> <code class="language-html"> {rapidocEvent.code} </code></pre> }
          </td>
        </tr>
      )}
    )
  }
  </table>

  <!-- Slots -->
  <h2 class="api-section-anchor" id="slots"> Slots </h2>
  <table class="m-table">
  {
    rapidocApiData.Slots.items.map(slot => { 
      return (
        <tr>
          <td class="name-col mono right">{slot.name}</td>
          <td class="gray">
            <Fragment set:html={slot.description} />
            { slot.example && <div> <Fragment set:html={slot.example} /> </div> }
            { slot.code &&  <pre> <code class="language-html"> {slot.code} </code></pre> }
          </td>
        </tr>
      )}
    )
  }
  </table>

  <!-- Vendor Extensions -->
  <h2 class="api-section-anchor" id="extensions"> Vendor Extensions </h2>
  <table class="m-table">
  {
    rapidocApiData.Extensions.items.map(extension => { 
      return (
        <tr>
          <td class="name-col mono right">{extension.name}</td>
          <td class="gray">
            <Fragment set:html={extension.description} />
            { extension.example && <div> <Fragment set:html={extension.example} /> </div> }
            { extension.code &&  <pre> <code class="language-html"> {extension.code} </code></pre> }
          </td>
        </tr>
      )}
    )
  }
  </table>
</GlobalLayout>

<style>
 
</style>